// Mobile-first style

// Палітра
$color1: #6C8F6B;
$color2: #A6763C;
$color3: #E8D9C5;
$color4: #22C0A2;
// ======================

// Шрифти
$font1:"Science Gothic", sans-serif;
$font2:"Oswald", sans-serif;
$font3:"Lobster", sans-serif;
// ======================

body{
    margin:0;
}

// Вступна частина сайту з нав. меню
.index-header{  //Верхня частина (нав. меню)
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color:$color3;
    font-family: $font3;
    color:$color2;
    font-size: 18px;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0 10px gray;
}
//Нижня частина (вступна)
.index-header-introduction{
    margin: 0;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:60px;
h1{
    z-index: 2;
    position: relative;
    margin:0%;
    text-align: center;
    font-size: 32px;
    top:-5%;
    font-family: $font1;
    font-weight: 800;
    color:rgb(233, 229, 216);
    text-shadow: 0 2px 4px rgba(0,0,0,0.45);
    -webkit-text-stroke: 1px rgb(95, 95, 95);
}
span{
    z-index: 2;
    position: relative;
    text-align: center;
    margin: 0%;
    font-size: 30px;
    top:1%;
    font-family: $font2;
    font-weight: bold;
    color:rgb(233, 229, 216);
    text-shadow: 0 2px 4px rgba(0,0,0,0.45);
    -webkit-text-stroke: 1px rgb(95, 95, 95);
}
&::before{
    background-image: url("/img/bg.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    z-index: 1;
    content: "";
    inset: 0;
}
}
// Бургер меню
.burger-menu{
    position: absolute;
    left:85%;
div{
    width:43px;
    height:5px;
    background: linear-gradient(190deg, rgb(175, 175, 175), rgb(240, 240, 240));
    margin-top:5px;
    border:1px solid rgb(147, 147, 147);
}
}
// ======================

// Основна частина сайту
.index-main{
    height:100vh;
    background-color:$color3;
    position:relative;
    top:60px;
}
// ======================