// Mobile-first style

// index.html

// Палітра
$color1: #6C8F6B;
$color2: #A6763C;
$color3: #E8D9C5;
$color4: #ECD9A0;
// ======================

// Шрифти
$font1:"Science Gothic", sans-serif;
$font2:"Oswald", sans-serif;
$font3:"Lobster", sans-serif;
$font4:"Yeseva One", serif;
$font5:"Dela Gothic One", sans-serif;
// ======================

// Рамка
%frame{
    background-color: $color1;
    border:1px solid rgb(221, 200, 161);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(147,147,147), 0 0 20px rgb(147,147,147), 0 0 20px rgb(147,147,147);
}
// ======================

// Дизайн кнопки
%btn-design{
    background: linear-gradient(135deg, rgb(94, 133, 89) 0%, rgb(115, 190, 75) 100%);
    border: 1px solid rgb(33, 109, 37);
    border-radius: 5px;
    padding: 5px;
    font-family: $font1;
    font-size: 25px;
}
// ======================

// Центрування
%display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
// ======================

body{
    margin:0;
    background-color:$color3;
    overflow-y: hidden;
    overflow-y: auto;
}

// Вступна частина сайту з нав. меню
//Верхня частина (нав. меню)
.index-header{
    z-index: 4;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$color3;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px gray;
h1{
    display: flex;
    justify-content: center;
    font-size: 33px;
    color:$color2;
    font-family: $font3;
}
}
// Бургер меню
.burger-menu{
    position: absolute;
    right: 5%;
    top:22%;
    z-index: 1;
div{
    width:43px;
    height:5px;
    background: linear-gradient(190deg, rgb(175, 175, 175), rgb(240, 240, 240));
    margin-top:5px;
    border:1px solid rgb(147, 147, 147);
}
}
.burger-menu-links{
    padding-top: 40px;
    height: 100%;
    z-index: 3;
    position: fixed;
    right:0;
    top:30px;
    flex-direction: column;
    width:160px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    background-color: #5a7559;
    border-left: 2px solid rgb(72, 108, 52);
hr{
    border: 1px solid;
    width: 80%;
    color:rgb(166, 115, 47);
}
&.active{
    transform: translateX(0);
}
a{
    display: flex;
    justify-content: center;
    color: $color3;
    font-size: 27px;
    text-decoration: none;
    font-family: $font1;
}
}
//Нижня частина (вступна)
.index-header-introduction{
    margin: 0;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:60px;
h2{
    z-index: 2;
    margin: -3% 0 0 0;
    text-align: center;
    font-size: 28px;
    font-family: $font1;
    font-weight: 800;
    color:rgb(233, 229, 216);
    text-shadow: 0 2px 4px rgba(0,0,0,0.45);
    -webkit-text-stroke: 1px rgb(95, 95, 95);
}
span{
    z-index: 2;
    position: relative;
    text-align: center;
    margin: 0%;
    font-size: 27px;
    font-family: $font2;
    font-weight: bold;
    color:rgb(233, 229, 216);
    text-shadow: 0 2px 4px rgba(0,0,0,0.45);
    -webkit-text-stroke: 1px rgb(95, 95, 95);
}
&::before{
    background-image: url("../img/bg.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    z-index: 1;
    content: "";
    inset: 0;
}
}
// ======================

// Основна частина сайту
.index-main{
    height:100%;
    background-color:$color3;
    position:relative;
    top:60px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
// перший блок
.index-main1{
    margin-top:8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
img{
    width:auto;
    height:250px;
    position: relative;
    left:-3%;
    opacity: 0;
    animation: yogurt 3s ease forwards;
}
@keyframes yogurt {
    to {opacity: 1;}
}
span{
    display: flex;
    justify-content: center;
    margin: 10px auto -10px;
    font-size: 30px;
    font-family: $font4;
    color: $color4;
}
p{
    font-size: 100%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    width: 100%;
    word-spacing: 1%; 
    color:$color3;
}
div{
    width:69%;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
    right: -5%;
    padding: 10px;
    @extend %frame;
    transform: translateX(105%);
    animation: block1 2s ease forwards;
@keyframes block1 {
    to {right:78%}
}
}
}
// другий блок
.index-main2{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
img{
    width:auto;
    height:250px;
    position: relative;
    left:3%;
    opacity: 0;
    animation: syrok 3s ease forwards;
    animation-delay: 2s ;
}
@keyframes syrok {
    to {opacity: 1;}
}
span{
    display: flex;
    justify-content: center;
    margin: 10px auto -10px;
    font-size: 27px;
    font-family: $font4;
    color: $color4;
}
p{
    font-size: 100%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    width: 100%;
    word-spacing: 1%; 
    color:$color3;
}
div{
    width:60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -5%;
    padding: 10px;
    @extend %frame;
    transform: translateX(-110%);
    animation: block2 2s ease forwards;
    animation-delay: 2s;
@keyframes block2 {
    to {left:70%}
}
}
}
// третій блок
.index-main3{
    margin-top: 13%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
img{
    width:auto;
    height:250px;
    position: relative;
}
span{
    display: flex;
    justify-content: center;
    margin: 10px auto -10px;
    font-size: 30px;
    font-family: $font4;
    color: $color4;
}
p{
    font-size: 100%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    width: 100%;
    word-spacing: 1%; 
    color:$color3;
}
div{
    width:85%;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    @extend %frame;
    opacity: 0;
    animation: block3 3s ease forwards;
    animation-delay: 4s;
@keyframes block3 {
    to {opacity: 1;}
}
}
button{
    width:max-content;
    @extend %btn-design;
    margin: 0 auto;
    opacity: 0;
    animation: index-btn 1s ease forwards;
    animation-delay: 7s;
    @extend %display-flex;
    padding-bottom:5px; 
@keyframes index-btn {
    to {opacity: 1;}
}
}
}
// ======================



//login.html

.login-main{
    @extend %display-flex;
    position: relative;
    top:190px;
    opacity: 0;
    animation: contacts-block1 2s ease forwards;
@keyframes contacts-block1 {
    to {opacity: 1}
}
}

.login-form{
    @extend %frame;
    width:330px;
    height: max-content;
form{
    display: block;
    margin-top: 20px;
}
label{
    margin-left: 12px;
    color: $color4;
    font-size: 25px;
}
input{
    background:none;
    border: 2px solid;
    border-image: linear-gradient(10deg, rgb(230, 153, 38), $color3) 1;
    outline: none;
    margin: 10px auto 10px;
    width: 295px;
    color:$color4;
    font-family: $font1;
    @extend %display-flex;
}
}

.login-interactive{
    display: flex;
    flex-direction: column;
    @extend %display-flex;
button{
    margin:10px auto 13px;
    color: #3a3a3a;
    height:max-content;
    width: 200px;
    padding: 5px;
    @extend %display-flex;
    @extend %btn-design;
}
span{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: $color4;
    text-align: center;
}
a{
    text-decoration: none;
    color: $color4;
    margin-bottom: 10px
}
}
// ======================



// contacts.html

.contacts-main{
    @extend %display-flex;
    position: relative;
    top:80px;
    opacity: 0;
    animation: contacts-block1 2s ease forwards;
@keyframes contacts-block1 {
    to {opacity: 1}
}
}

.contacts-form{
    @extend %frame;
    width:330px;
form{
    display: block;
}
h2{
    color: $color4;
    @extend %display-flex;
    font-size: 30px;
    margin: 15px auto 10px;
}
p{
    color: $color3;
    margin: 10px;
    text-align: center;
}
hr{
    width:280px;
    border: 1px solid rgb(70, 127, 75);
}
label{
    margin-left: 12px;
    color: $color4;
    font-size: 24px;
}
input{
    background:none;
    border: 2px solid;
    border-image: linear-gradient(10deg, rgb(230, 153, 38), $color3) 1;
    outline: none;
    margin: 10px auto 10px;
    width: 295px;
    color:$color4;
    font-family: $font1;
    @extend %display-flex;
&[type="number"]::-webkit-inner-spin-button,
&[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
&[type="number"] {
    -moz-appearance: textfield;
}
}
textarea{
    background-color:#6a6a6a;
    border: 2px solid;
    border-image: linear-gradient(10deg, rgb(230, 153, 38), $color3) 1;
    outline: none;
    margin: 10px auto 10px;
    width: 295px;
    height: 130px;
    color:$color4;
    font-family: $font1;
    @extend %display-flex;
}
button{
    width: max-content;
    margin:20px auto 20px;
    @extend %btn-design;
    @extend %display-flex;
}
}
// ======================



// registration.html

.registration-main{
    @extend %display-flex;
    position: relative;
    top:190px;
    opacity: 0;
    animation: contacts-block1 2s ease forwards;
@keyframes contacts-block1 {
    to {opacity: 1}
}
}

.registration-form{
    @extend %frame;
    width:330px;
    height: max-content;
form{
    display: block;
    margin-top: 20px;
}
label{
    margin-left: 12px;
    color: $color4;
    font-size: 25px;
}
input{
    background:none;
    border: 2px solid;
    border-image: linear-gradient(10deg, rgb(230, 153, 38), $color3) 1;
    outline: none;
    margin: 10px auto 10px;
    width: 295px;
    color:$color4;
    font-family: $font1;
    @extend %display-flex;
}
}

.registration-interactive{
    display: flex;
    flex-direction: column;
    @extend %display-flex;
button{
    margin:10px auto 13px;
    color: #3a3a3a;
    width: max-content;
    padding: 5px;
    @extend %display-flex;
    @extend %btn-design;
}
}
// ======================



// shopping.html

.shopping-cart{
    width: 40px;
    height: auto;
    position: absolute;
    left: 20px;
}

.shopping-main{
    display: grid;
    grid-template-columns: repeat(2, 195px);
}

.shopping-main > *:first-child{
    margin-top: 100px;
}

.shopping-main > *:last-child{
    margin-bottom: 60px;
}

.shopping-block1, .shopping-block2, .shopping-block3, .shopping-block4, .shopping-block5, .shopping-block6, .shopping-block7, .shopping-block8, .shopping-block9, .shopping-block10, .shopping-block11, .shopping-block12, .shopping-block13, .shopping-block14, .shopping-block15{
    @extend %frame;
    margin: 0 auto;
    width: 160px;
    height: max-content;
    margin-top: 100px;
    margin-bottom: -60px;
    @extend %display-flex;
    flex-direction: column;
img{
    height: 120px;
    width: 143px;
    margin-top: 10px;
}
p{
    text-align: center;
    width: 200px;
    word-wrap: break-word;
    color: $color3;
    font-size: 25px;
    margin: 10px;
}
}
// ======================
